{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmauth service
After=network.target

[Service]
Type=simple
User={{ victoria_metrics_system_user }}
Group={{ victoria_metrics_system_group }}
Restart=always
EnvironmentFile={{ victoria_metrics_config_dir }}/vmauth_env.conf
ExecStart={{ victoria_metrics_bin_dir }}/vmauth-prod -envflag.enable -auth.config={{ victoria_metrics_config_dir }}/vmauth.yaml {% for flag, flag_value in vmauth_service_args.items() %}--{{ flag }}={{ flag_value }} {% endfor %}

PrivateTmp=yes
ProtectHome={{ vmauth_systemd_protect_home }}
NoNewPrivileges=yes

ProtectSystem=full

{% if victoria_metrics_systemd_version | int >= 232 %}
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% endif %}

{% if vmauth_exec_start_post != "" %}
ExecStartPost={{ vmauth_exec_start_post }}
{% endif %}

{% if vmauth_exec_stop != "" %}
ExecStop={{ vmauth_exec_stop }}
{% endif %}

[Install]
WantedBy=multi-user.target
