{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vminsert service
After=network.target

[Service]
Type=simple
User={{ victoria_metrics_system_user }}
Group={{ victoria_metrics_system_group }}
Restart=always
EnvironmentFile={{ victoria_metrics_config_dir }}/vminsert.conf
ExecStart={{ victoria_metrics_bin_dir }}/vminsert-prod -envflag.enable

PrivateTmp=yes
ProtectHome={{ vmsinsert_systemd_protect_home }}
NoNewPrivileges=yes

ProtectSystem=full

{% if victoria_metrics_systemd_version | int >= 232 %}
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% endif %}

{% if vminsert_exec_start_post != "" %}
ExecStartPost={{ vminsert_exec_start_post }}
{% endif %}

{% if vminsert_exec_stop != "" %}
ExecStop={{ vminsert_exec_stop }}
{% endif %}

[Install]
WantedBy=multi-user.target
