{{ ansible_managed | comment }}

{% for key, value in vminsert_config.items() | default({}) %}
{{- key }}={{ value }}
{% endfor %}

{% if vminsert_relabel_config != "" %}
relabelConfig={{ victoria_metrics_config_dir }}/vminsert_relabel.yaml
{% endif %}
